body {
  -webkit-font-smoothing: antialiased;
  background: linear-gradient(to right, #b490c7, #cd9f3f);
}

.pointer-mouse {
  cursor: pointer;
}

.submit-button {
  border: #d3d3d3 !important;
  background-color: #313031e7 !important;
  transition: background-color 0.3s ease-in-out, border-radius 0.3s ease-in-out !important;
}

.submit-button:hover {
  border-radius: 15px;
}

ol.breadcrumb {
  margin-bottom: 0px;
}