.notification-box {
    position: fixed;
    top: 40px;
    left: 40px;
    z-index: 1060;
    transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
}

.notification-box.hidden {
    opacity: 0;
    visibility: hidden;
}

.notification-box.visible {
    opacity: 1;
    visibility: visible;
}